streamlit
streamlit_option_menu
streamlit_feedback
seaborn
scipy
matplotlib==3.7.1
plotly
langchain
sentence-transformers
chromadb
google.generativeai
pyportfolioopt
pandas
numpy
gunicorn
yfinance
pandas-datareader
pytz
streamlit_chat
vega_datasets
altair
langchain_experimental
langchain_google_genai
python-dotenv
streamlit-authenticator
tabulate
langchain_experimental 
langchain_core
google-generativeai==0.3.1
google-ai-generativelanguage==0.4.0
langchain-google-genai